# Config files
**/.cache/**
**/.config/**
**/.ipynb_checpoints/**
**/.ipython/**
**/.jupyter/**
**/.local/**
**/__pycache__/**
**/*.egg-info/**
# Ignore data storage
tmp/**
data/**
# Credential files
**/.env
# Ignore mprof outputs
**/mprof*.png
**/mprofile*.dat